/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.share-sheet .mat-bottom-sheet-container{
    
    background: rgba(19, 86, 202, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(18.4px);
    backdrop-filter: blur(18.4px);
    border: 1px solid rgba(19, 86, 202, 1);
}

.mat-dialog-container{
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 50px;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.45);
  

}

.errorMsg .mat-bottom-sheet-container{
    
  background: rgba( 255, 0, 51, 0.7 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.successMsg .mat-bottom-sheet-container{
    
  background: rgba( 94, 255, 0, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 15px );
-webkit-backdrop-filter: blur( 15px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.formMsg .mat-bottom-sheet-container{
  background: rgba( 248, 231, 28, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
