@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
.spinner__loading {
  display: flex;
  justify-content: center;
}

.iphonex{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 15px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .2), 0 40px 100px rgba(0,0, 0, .4) ;
    transition: 5s; 
}
.iphonex{
    background: url('/assets/bg1.jpg');
    background-size: cover;
    border-radius: 15px;
    box-shadow: inset 0 0 20px rgba(0,0, 0, .2);
}
.apps{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.container_app{
    display: flex;
    width:25% ;
    height: 25%;

}

.app1{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 1px;
    background: url('/assets/dibujo.png');
    background-size: cover;
}
.app2{
  display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 1px;
   /* background: url('/assets/dibujo.png');*/
    background-size: cover;
  
    
    
}

/*tool tip*/
.wrapper{
    display: inline-flex;
    margin-top: 15px;
  }
  .wrapper .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span{
    display: block;
    height: 60px;
    width: 60px;
    /*background: #fff;*/
    border-radius: 50%;
    position: relative;
    z-index: 2;
    /*box-shadow: 0px 10px 10px rgba(0,0,0,0.1);*/
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i{
    line-height: 60px;
    font-size: 25px;
  }
  .wrapper .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span{
    color: #fff;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  }
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip:before{
    background: #3B5999;
  }
  .wrapper .twitter:hover span,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip:before{
    background: #46C1F6;
  }
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip:before{
    background: #e1306c;
  }
  .wrapper .github:hover span,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip:before{
    background: #333;
  }
  .wrapper .youtube:hover span,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip:before{
    background: #DE463B;
  }
  /*posicion a la derecha arriba*/
  .mybody{
    position:absolute;
    top:0;
    right:0;
    display: flex;
    width: 50px;
    height: 50px;
    
  }
  .logout {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 1px;
    background: url('/assets/shutdown.png');
    background-size: cover;

  }
  mat-card{
    margin-top: 25px;
    width: 70%;
    height: 20%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    background: rgba(19, 86, 202, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(18.4px);
    backdrop-filter: blur(18.4px);
    border: 1px solid rgba(19, 86, 202, 1);
}
mat-form-field{
    width: 100%;
    height: 100%;
    
}
.mdc-card__actions {
    justify-content: space-between;
}
/*maneja el tamaño de los mat-form-fields*/

.mat-mdc-form-field-focus-overlay {
  background-color: white;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white
}
/*fin del manejo de los tamaños de mat-form-field*/

